body {
  height: 100%;
  background-color: #fcfcfc;
}
.full-height{
  height: 100%;
  background-color: #f5f5f5
}
.navbar{
  background: rgb(252, 252, 252);
  border-bottom: none;
  height: auto;
  width: 100%;
}
.notification{
  border-left: 1px solid rgba(151, 151, 151, 0.15);
  border-right: 1px solid rgba(151, 151, 151, 0.15); 
  width: 1.5rem; 
  height: 1.5rem; 
  padding: 0.25rem;
  margin: 1rem;
}
.sidebar{
  background-color: rgb(48, 48, 48);
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  transition: 0.5s;
}
.sidebar-text{
  color:white;
}
.sidebar-text-subheading{
  color: rgb(0, 160, 255);
}
.slds-nav-vertical__item [type=radio]:checked + .slds-nav-vertical__action{
  background: linear-gradient(90deg, rgb(0, 160, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.bottom{
  position: fixed;
  bottom: 5%;
  left: 1rem;
}
.grid-relative{
 padding: 0.75rem;
 margin: 5%;
 background-color: white; 
 position: relative;
}
.image-section{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.image-3dot{
  position: absolute;
  top:1rem; 
  right:1rem;
  width: 1rem; 
}
.font-primary{
  color: rgb(35, 36, 37);
  font-family: WorkSans-Regular;
  font-size: 16px;
  white-space: nowrap;
}
.font-secondary{
  color: rgb(146, 146, 146);
  font-family: WorkSans-Regular;
  font-size: 12px;
  white-space: nowrap;
}
.button_bottom{
  color: rgb(0, 160, 255);
  border: none;
  border-top: 1px solid rgba(151, 151, 151, 0.15);
  width: 100%;
  border-radius: 0;
  margin-top: 0.5rem;
}
.mobile-only{
  display: all;
}
.dektop-only{
  display: none;
}
.table-container{
 position: relative;
 background-color: #f5f5f5; 
}
@media screen
and (min-device-width: 1020px)
and (-webkit-min-device-pixel-ratio: 1){
  body {
    background-color: white;
  }
  .image-section{
    height: 2rem;
    width: 2rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .button_bottom{
    border-top: none;
    width: auto;
    margin-top: auto;
  }
  .image-3dot{
   position: initial; 
   top:1rem; 
   right:1rem;
   width: 1rem;
   margin-right: 0.25rem;
 }
 .remove-margin_bottom{
  margin-bottom: auto;
}
.align-content-left{
  padding-left: 0.75rem;
  -webkit-box-pack:auto;
  -ms-flex-pack:auto;
  justify-content:initial;
  -ms-flex-line-pack:auto;
  align-content:initial;
  -webkit-box-align:initial;
  -ms-flex-align:initial;
  align-items:initial;
}
.dektop-only{
  display:inline;
}
.mobile-only{
  display: none;
}
.grid-relative{
 border-bottom: 1px solid rgba(151, 151, 151, 0.15);
 padding: 0.75rem;
 margin: 0%; 
 position: relative;
}
.sidebar{
  background: linear-gradient(-45deg, rgb(239, 243, 248) 0%, rgb(231, 246, 255) 100%);
  position: initial;
}
.sidebar-text{
  color: rgb(48, 48, 48);
}
.sidebar-text-subheading{
  color: rgb(0, 160, 255);
}
.table-container{
  background-color: white; 
  border-radius: 3px;
}
}